.features {
  padding: 63px 0 229px;
  background: #FAFAFA top left/100% no-repeat;

  &__title{
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    margin-bottom: 70px;
  }

  &__col {
    height: 250px;
    background: top left/100% 100%no-repeat;
    padding: 157px 0 0;
    border-radius: 8px
  }

  &__Mcol:first-child &__col{
    background-image: url("../images/features/1.png");
  }

  &__Mcol:nth-child(2) &__col{
    background-image: url("../images/features/2.png");
  }

  &__Mcol:nth-child(3) &__col{
    background-image: url("../images/features/3.png");
  }
  &__card{
    width: 293px;
    height: 198px;
    padding: 33px 0 25px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
  }
  &__card-title{
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    margin-bottom: 20px;
  }
  &__card-subtitle{
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #101010;
    margin-bottom: 18px;
  }
  &__card-link{

    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #a20313;
    text-decoration: none;
  }
}
