.video {
  margin: 94px 0 95px;

  &__title {
    margin-top: 46px;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
  }

  &__subtitle {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
    margin: 25px 0;
  }

  &__learnMore {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color:#941f1f;
    text-decoration: none;
  }


  &__row {
    display: flex;
  }

  &__col-6 {
    width: 100%;
    height: 311px;

    &_second {
      background: url("../images/video/Video_bg.png") top left/100% 100% no-repeat;
    }
  }

  &__btn {

    display:flex;
    align-items:center;
    justify-content: center;
    width: 66px;
    height: 66px;
    background: #ED4C5C;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    transform: translate(-50%, 170%);
    font-size: 30px;
    &:hover {
      background-color: #DCDCDC;
      color: #ca414e;
    }

  }
}

